body {
  /* body */
  background-color: rgb(197, 255, 182);
}

nav {
  height: 200px;
}

footer {
  height: 400px;
}

nav {
  background-color: rgb(120, 167, 116);
}
footer {
  background-color: #0e7003;
}
/* ============================================ */
/* COMPONENTS */

/* Drop-down search bar ================= */
.dropdown-wrapper {
  width: 350px;
  position: relative;
}

.dropdown {
  cursor: text;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
}

.dropdown > input {
  height: 24px;
  border: 0;
  position: static;
  padding: 0;
  max-width: 100%;
  margin: 0.45238095em 0 0.45238095em 0.64285714em;
  width: 3.5em;
  line-height: 1.21428571em;
}

.delete-button,
.toggle-dropdown {
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  margin-left: 1em;
}

.toggle-dropdown {
  position: absolute;
  top: 0.4em;
  right: 0;
  transform: translateX(-20%);
}

.container {
  min-height: 500px;
}

.selected {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(18, 45, 71, 0.274);
  padding: 0.25em;
  padding-left: 0.5em;
  margin: 0.25em;
}

/* Loading icon for AJAX requests ================= */
#loading-wrapper {
  width: 80px;
  height: 90px;
}

/* Sticky nav bar ================= */
.sticky {
  z-index: 1;
  position: fixed;
}

/* ============================================ */
/* WIDTHS */

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

/* ============================================ */
/* FLEXBOX */

.flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
}

.flex-row-sb {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* ============================================ */
/* UTILITIES */

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.overflow-scroll {
  height: 150px;
  overflow: auto;
}
