.hidden {
  display: none;
}

.overflow-scroll {
  height: 150px;
  overflow: auto;
}

.container {
  min-height: 500px;
}

#loading-wrapper {
  width: 80px;
  height: 90px;
}

.flex-ctr-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
