<div>
  <h1>ParketList</h1>
  <h2>Welcome</h2>
  <p>
    * For those that want to see the wonderful possiblities of adventure and
    discover what might be right under their nose, Parketlist is the place for
    you!
  </p>
  <p>* Start out by either making an account or logging in.</p>
  <p>
    * Once you have that out of the way you can search for the National Parks
    that are in your state or other states.
  </p>
  <p>
    * You are then able to save, delete or update your hopeful destinations.
  </p>
  <p>
    * As an add feature you can sign up for the pro package which will allow you
    to add notes to your favorite parks.
  </p>
</div>
