<!-- <div class="favorites">
  <h3>Favorites</h3>
  <dl ng-repeat="park in main.ourParks">
    <dt ng-click="function to show info()">{{park.name}}</dt>
    <img class="img" src="{{park.parkImage}}" alt="" />
    <dt ng-click="main.deletePark(park.parkId, $index)">X</dt>
  </dl>
</div>
<div ng-repeat="park in main.ourParks" class="favDetails">
  <h3>Park Info:</h3>
  <img class="img" src="{{park.parkImage}}" alt="" />
</div> -->
<!-- copy of search.html -->
<div class="iMessages h-100 flex-row">
  <div class="overflow-scroll search-results w-30">
    <p ng-repeat="park in main.ourParks">
      <a ng-click="main.displayedPark = park" href="#">{{park.name}}</a>
    </p>
  </div>
  <div class="display-park w-70 mx-1">
    <h4>{{main.displayedPark.name}}</h4>
    <img
      class="w-25"
      ng-src="{{main.displayedPark.parkImage}}"
      alt="Whoops! Image not found!"
    />
    <h4>{{main.displayedPark.parkCode}}</h4>
    <p>{{main.displayedPark.parkImage}}</p>
    <a target="_blank" href="{{main.displayedPark.url}}">See more here!</a>
  </div>
</div>
