<form
  class="flex-row justify-end w-100"
  ng-submit="main.hitNPS(main.route, main.optionsSelected, main.query)"
>
  <select ng-model="main.route">
    <option ng-repeat="option in main.options" ng-value="option.route"
      >{{option.name}}</option
    >
  </select>
  <div ng-if="main.route === 'parks'" class="dropdown-wrapper">
    <button
      class="toggle-dropdown"
      type="button"
      ng-click="main.showStates = !main.showStates"
    >
      <svg
        class="w-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
      >
        <path
          d="M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z"
        />
      </svg>
    </button>
    <div class="dropdown">
      <input autocomplete="off" type="text" placeholder="State" />
      <a class="selected" ng-repeat="state in main.selected"
        ><span>{{state}}</span
        ><button
          ng-click="main.unselectState($index, state)"
          type="button"
          class="delete-button"
        >
          x
        </button></a
      >
    </div>
    <div
      class="overflow-scroll w-100"
      id="states"
      ng-class="(main.showStates) ? null : 'hidden'"
      tabindex="-1"
    >
      <div
        id="{{state.name}}"
        class="pointer overlay ml-1"
        ng-click="main.selectState($index, $event, state.stateCode)"
        ng-repeat="state in main.states"
      >
        {{state.name}}
      </div>
    </div>
  </div>
  <input type="text" ng-model="main.query" placeholder="Search" />
  <button class="submit" type="submit">GO</button>
</form>
<div ng-class="main.loading ? 'flex-center-all' : null">
  <div ng-if="main.loading === true" id="loading-wrapper">
    <img src="/assets/loading.svg" alt="" />
  </div>
  <div class="iMessages flex-row">
    <div
      ng-if="main.route === 'parks'"
      class="overflow-scroll search-results w-25"
    >
      <p ng-repeat="park in main.parks">
        <button ng-click="main.addParkToSchema(park)" class="add-favorite">
          <img
            style="width: 20px; height: 20px;"
            src="../assets/not-favorite.png"
            alt=""
          />
        </button>
        <a ng-click="main.displayedPark = park" href="#">{{park.fullName}}</a>
      </p>
    </div>
    <div
      class="overflow-scroll search-results w-25"
      ng-if="main.route !== 'parks'"
    >
      <button ng-click="main.addParkToSchema(park)" class="add-favorite">
        <img
          style="width: 20px; height: 20px;"
          src="../assets/not-favorite.png"
          alt=""
        />
      </button>
      <p
        ng-repeat="park in main.parks.parks"
        ng-click="main.displayedPark = park"
      >
        {{park.fullName}}
      </p>
    </div>
    <div class="w-75">
      <h3>Park Info:</h3>
      <br />
      <img
        class="w-25"
        ng-src="{{main.displayedPark.images[0].url}}"
        alt="Whoops! Image not found!"
      />
      <h4>{{main.displayedPark.fullName}}</h4>
      <h4>{{main.displayedPark.parkCode}}</h4>
      <p>{{main.displayedPark.description}}</p>
      <a target="_blank" href="{{main.displayedPark.url}}">See more here!</a>
    </div>
  </div>
</div>
